body{
    margin:0;
    min-height: 100vh;
    font-family:Georgia, 'Times New Roman', Times, serif
}
header{ background-color: #6F1D1B;
        color:#FFE6A7;
        text-align: center;
}
header a {
    color: #FFE6A7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.container{
/*display:grid;*/
    display:flex;
    flex-direction:row;
    gap:24px;

}
#contacto{
   grid-area:3/1/4/2;
}
#libros{
     grid-area:1/2/4/3;
}
@media(max-width:600px){

    .container{flex-direction:column;}
    #libros{
    grid-area:auto;
    }
}


